<div class="navbar">
  <div class="site-name">
    <h2>EletricGo</h2>
  </div>
  <div class="site-image">
    <img src="/assets/Camiao4.png" height= "100" width="120">
  </div>
  <div class="site-slogan">
    <h3>Go without gas.</h3>
  </div>
  <div class="site-menu">
     <a [routerLink]="['/warehouse-manager']"><button class="button button5">Warehouse Manager</button></a>
     <a [routerLink]="['/logistics-manager']"><button class="button button5">Logistics Manager</button></a>
     <a [routerLink]="['/fleet-manager']"><button class="button button5">Fleet Manager</button></a>

  </div>
</div>
