.logistics-manager-options {

  position: fixed;
  left: 50%;
  bottom: 400px;
  transform: translate(-50%, -50%);


  border-radius: 10px;
  padding-right: 40px;
}

.button {

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #097dbd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px 20px 10px 150px;
}

.button:hover {
  background-color: #8cb3cb
}

.button:active {
  background-color: #183c4f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
