div {
  background-color: rgb(12, 12, 12);
  position: fixed;
  overflow: scroll;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow:hidden;
  border-radius:10px;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
  padding-right: 40px;

}
