<div class="center">
  <h1>Create Delivery</h1>
  <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Date</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Weight</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Warehouse ID</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Put Delivery Time</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Take Delivery Time</span>
    </div>
    <div class="inputbox">
      <input type="button" value="submit">
    </div>
  </form>
</div>
