* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  bottom: -250px;
}

.center{
  position: fixed;

  left: 37%;
  bottom: 350px;
  transform: translate(-50%, -50%);


  border-radius: 50px;
  padding-right: 40px;
}

body {
  padding: 1rem;
  background-color: #3570a1;
  padding-bottom: 40%;
}

h1 {
  background-color: #3d5186;
  padding: 20px;
  width: 150%;
  align-items: center;
  font-size: calc(1.3rem + .6vw);
  color: white;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

table {
  border-collapse: collapse;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 150%;
  align-items: center;
  margin: auto;
}

th {
  text-align: center;
  padding: 15px;
  font-size: 17px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
