<div class="center">
  <h1>Create Warehouse</h1>
  <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Street</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Country</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Door Number</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Longitude</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Latitude</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Altitude</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Description</span>
    </div>
    <div class="inputbox">
      <input type="button" value="submit">
    </div>
  </form>
</div>
