*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Sans Regular", "Lucida Grande", Geneva, Verdana, sans-serif ;
}

.active{
  background-color: gray;
}
