<div class="center">
  <h1>Create Route</h1>
  <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Start Warehouse ID</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Destination Warehouse ID</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Time</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Distance</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Energy</span>
    </div>
    <div class="inputbox">
      <input type="button" value="submit">
    </div>
  </form>
</div>
