<div class="center">
  <h1>Create Truck</h1>
  <form #truckForm="ngForm" (ngSubmit)="onTruckCreate(truckForm.value)">
    <div class="inputbox">
      <input type="text" required="required" name="tLicensePlate" ngModel>
      <span>License Plate</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="tTare" ngModel>
      <span>Tare</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="tMaximumLoad" ngModel>
      <span>Maximum Load</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="tBatteryCapacity" ngModel>
      <span>Battery Capacity</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="tAutonomy" ngModel>
      <span>Autonomy</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="tChargingTime" ngModel>
      <span>Charging Time</span>
    </div>
    <div class="inputbox">
      <input type="submit" value="submit">
    </div>
  </form>
</div>
