<div class="center">
  <h1>Create Truck</h1>
  <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>License Plate</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Name</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Tare</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Maximum Load</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Battery Capacity</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Autonomy</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Charging Time</span>
    </div>
    <div class="inputbox">
      <input type="button" value="submit">
    </div>
  </form>
</div>
